*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#logo{
    width: 100px;
}


#ban1{
    object-fit: cover;
height: 350px;
}

#ban2{
    object-fit: cover;
    height: 350px;
}

#ban3{
    object-fit: cover;
    height: 350px;
}

#ban4{
    object-fit: cover;
    height: 350px;
}

#ban5{
    object-fit: cover;
    height: 350px; 
}

.barbusqueda {
    width: 100%; /* Asegura que la barra de búsqueda ocupe el ancho disponible dentro de su contenedor */
    max-width: 300px; /* Ajusta este valor según el tamaño que desees para la barra de búsqueda */
}

/* Ajusta el contenedor de checkboxes */
#contenedorcheck {
    display: flex;
    flex-wrap: wrap; /* Permite que los checkboxes se envuelvan en nuevas líneas si es necesario */
    gap: 10px; /* Espacio entre los checkboxes */
}

/* Opcional: Estilo para los checkboxes */
.form-check {
    margin-right: 10px; /* Espacio entre los checkboxes */
}

#imgbusqueda{
    height: 15px;
}

.search{
    width: 100%;
    display: flex;
  justify-content: center;
}


main{
    background-color: blueviolet;
    
}

#face{
    height: 30px;
}

#wats{
    height: 30px;
}

#insta{
    height: 30px;
}

.cohort{
    height: 30px;
}

.foot{
    height: 60px;
    margin: 0 15px 0 15px;
}


.formcontact{
    
    width: 550px;
    margin: 10px;
}


#details1{
    object-fit: cover;
}

.target{
    width: 80vw;
}

.details{
    height: 90vh;
    padding: 65px 0 100px 0;
}

.stats{
    height: 130vh;
}

.targetImg{
    object-fit: cover;
    height: 200px;
}

.filtro{
    display: none;
}

table th, table td {
    text-align: center;
}
.stats {
    margin-top: 30px;
}
.stats table {
    margin-bottom: 30px;
}

/* Estilo para el encabezado */
thead th {
    background-color: gold !important;
    color: white !important;
}

.contendorTargetas{
    height: 100%;
}


